.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  width: 1600px;
  row-gap: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.card {
  max-width: 400px;
  min-width: 370px;
}
